.DS_Store
.git
.github
.idea
.turbo
.vscode
.cloudflared
coverage
dist
node_modules
*.log
.env
.env.local
.env.development.local
.env.test.local
apps/web/dist
convex/_generated
convex/.generated
*.tsbuildinfo
