.DS_Store
.idea
.turbo
.vscode
.cloudflared
coverage
dist
node_modules
*.log
.env
.env.local
.env.development.local
.env.test.local
apps/web/dist
convex/.generated
*.tsbuildinfo
references/shadcn-admin
